<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>webPodder | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/selectbox.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/facebox/facebox.css" type="text/css" media="all" />




<noscript><style type="text/css">  div {display: none;} table {display: none;} #noscript {padding: 3em; font-size: 130%;} </style> <p id="noscript">JavaScript must be enabled in order for you to use Reader. However, it seems JavaScript is either disabled or not supported by your browser. To use Reader, enable JavaScript by changing your browser options, then <a href="/reader/">try again</a>.</p></noscript>

    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}

    {% endblock %}
    <hr>
<p>
	<a id="home" href="/feeds" title="HOME">HOME</a><br/>	
	<a id="home" href="/users" title="Users">Users</a><br/>	
	<a id="login" href="/accounts/login" title="Login">Login</a><br/>
	<a id="logout" href="/accounts/logout" title="Logout">Logout</a><br/>
</p>
</body>
</html>
