{% extends "base.html" %}

{% block title %}Feed List{% endblock %}

{% block head %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
	$("a[class='flink']").click(function () {
	      $('#result').load($(this).attr('href').replace('#',''));
	});
	$("a[class='dfeed']").click(function () {
	      $('#addfeed').load($(this).attr('href').replace('#','')).hide().fadeIn('slow');
	});
	$("a[id='newfeed']").click(function () {
	      $('#addfeed').load($(this).attr('href').replace('#','')).hide().fadeIn('slow');
	});
    });
</script>

  <script>
 jQuery().ready(function() {
   var tab=jQuery("#result");
   tab.load("/feeds/{{ feed.id }}") 
  });
 </script>

{% endblock %}

{% block content %}
    <div id="left"> 
	{% if latest_feed_list %}
	    <ul>
	      {% for feed in latest_feed_list %}
		  <li><a class="flink" href="#{{ feed.id }}" title="/feeds/{{ feed.id }}">{{ feed.title }}</a> | <a class="dfeed" title="{% url feed_delete feed.id %}" href="#{% url feed_delete feed.id %}">Delete</a></li>
	      {% endfor %}
	    </ul>
	{% else %}
	    <p>No feeds are available.</p>
	{% endif %}

	<a id="newfeed" href="#new" title="/feeds/new">Add new feed</a>
    
	<div id="addfeed"></div> 
<br/>
	<div id="user">
		  <a id="login" href="/accounts/login" title="Login">Login</a><br/>
		  <a id="logout" href="/accounts/logout" title="Logout">Logout</a><br/>
		   {{ user }}
	</div> 

    </div>

<div id="right"> 
  <div id="result"></div> 
</div>
{% endblock %}

