{% extends "base.html" %}
{% load pagination_tags %}


{% block title %} {{ title.title  }} Stories {% endblock %}

{% block head %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
	$("a[class='next']").click(function () {
// 	      alert($(this).attr('href').replace('?page','2/?page'));
// 	      $('#result').load($(this).attr('href').replace('/?page','/2/?page'));
	});

//     $("select").change(function () {
// 	  var val = "";
// 	  val = $("select#id_category").val();
// 	  if (val == 'newcat'){
// // 	      alert("New Category");
// 	      $('div#s').load("/feeds/category/new").hide().fadeIn('slow');
// 	  }else{
// 	      $.post("{% url category_add title.id %}", { category: val} );
// 	  }
//           $("div#s").text(val);
//         })

	$('#id_category').selectbox({
        	onChangeCallback: function () {
						  var val = "";
						  val = $("select#id_category").val();
						  if (val == 'newcat'){
					// 	      alert("New Category");
// 						      $('div#s').load("/feeds/category/new").hide().fadeIn('slow');
						      jQuery.facebox({ ajax: "/feeds/category/new" });
						  }else{
						      $.post("{% url category_add title.id %}", { category: val} );
						  }
// 						  $("div#s").text(val);
						}
    	});


	var position = $("input#id_category_input").position();
	$("div#id_category_container").css('left',position.left); 


//     $("div#catselect").mouseleave(
// 				function () {
// 				    $(this).hide();
// 				    $("div#feedcat").show();
// 				    $("select#id_category").mouseleave(function(event) { event.stopPropagation(); });
// 				  }
//     );
//     $("div#feedcat").click(
// 			    function () {
// 				$(this).hide();
// 				$("div#catselect").show();
// 			      }
// 			    );
    });
</script>
{% endblock %}

{% block content %}
{% autopaginate feed 4 %}




    <a href="/feeds" title="Back to list">Back to feed list</a>
<div id="feedtitle">
	<h1 id="title">{{ title.title }}</h1>
	<div id="catselect">
      <!--       <form method="POST" action="{% url category_add title.id %}" id="ac"> -->
	      <select name="category" id="id_category">
		  <option value="" selected="selected">---------</option>
		  {% for category in userCategories %}
		      {% ifequal feedCategory category.name %}
			  <option value="{{ category.id|escape }}" selected="selected">{{ category.name|escape }}</option>
		      {% else %} 
			  <option value="{{ category.id|escape }}">{{ category.name|escape }}</option>
		      {% endifequal %}
		  {% endfor %} 
		  <option value="newcat">New category</option>
	      </select>
	    <!--   <input type="submit" value="add">   -->
      <!--      </form>-->
	    <div id="s"> </div>
	</div>
</div>

	<div id="feedurl">{{title.url}}</div>

{% load avatar_tags %}
    <div id=users>
	<p>
	{% for user in usersSubscribed %}
	    <a class="flink" href="/users/{{ user.id }}" title="{{ user.user }}">{% avatar user.user 30 %}</a>
	{% endfor %}
	</p>
    </div>

    <div>
	{% for story in feed %}
	    <h2 style="font-weight:bold;">{{ story.title }}</h2>
	    <div >{% if story.url %}<audio controls>{{story.url}}</audio>{% endif %}</div>
	    <div>{{ story.description|safe }}</div>
	{% endfor %}
    </div>



{% ajax_paginate %}
{% endblock %} 
