{% extends "base.html" %}
{% load pagination_tags %}


{% block title %} {{ title.title  }} Stories {% endblock %}

{% block head %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
	$("a[class='next']").click(function () {
// 	      alert($(this).attr('href').replace('?page','2/?page'));
// 	      $('#result').load($(this).attr('href').replace('/?page','/2/?page'));
	});

    $("select").change(function () {
	  var val = "";
	  val = $("select#id_category").val();
// 	  alert(str+' '+val)
	  $.post("{% url category_add title.id %}", { category: val} );
          $("div#s").text(val);
        })

    });
</script>
{% endblock %}

{% block content %}
{% autopaginate feed 4 %}




    <a href="/feeds" title="Back to list">Back to feed list</a>
	<h1>{{ title.title  }}</h1>
	{{title.url}}
	{{titles}}


<form method="POST" action="{% url category_add title.id %}" id="ac">
  <label for="id_category">Category:</label>
  <select name="category" id="id_category">
      <option value="" selected="selected">---------</option>
      {% for category in categories %}
          <option value="{{ category.id|escape }}">{{ category.name|escape }}</option>
      {% endfor %} 
  </select>
  <input type="submit" value="add">  
</form>
<div id="s"> </div>

{% load avatar_tags %}
    <div id=users>
	<p>
	{% for user in usersSubscribed %}
	    <a class="flink" href="/users/{{ user.id }}" title="{{ user.user }}">{% avatar user.user 30 %}</a>
	{% endfor %}
	</p>
    </div>

    <div>
	{% for story in feed %}
	    <h2 style="font-weight:bold;">{{ story.title }}</h2>
	    <div >{% if story.url %}<audio controls>{{story.url}}</audio>{% endif %}</div>
	    <div>{{ story.description|safe }}</div>
	{% endfor %}
    </div>



{% ajax_paginate %}
{% endblock %} 
