body{
font-family:Liberation Sans, sans;
font-size:75%;
background:#fff;
color:#36393D;

/*background:#111;
color:#fff;*/

}

input{
font:Sans;
font-size:14px;
background:#ddd;
color:#36393D;
border:2px solid #777;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 2px;
}


#left{
  float:left;
  width:300px;
}
#right{
  width:700px;
  margin-left:300px;
}
#right a img{
  border:none;
} 

a{
color:#356AA0;
text-decoration:none;
/* color:#CDEB8B; */
}

a:hover{
text-decoration:underline;
/* -moz-box-shadow: 0px  0px  2px #111; */

}

h1{
color:#73880A;
}


#catselect{
/* display:none; */
padding:25px 0px; 
}

#category{
height:2em;
/* background-color:#eee; */
width:200px;
}
/*#addfeed{
display:none;
}*/

h1#title{
float:left;
margin-right:20px;
}

#feedtitle {
overflow:visible;
position:relative;
}

input#id_category_input{
/* margin-left:100px; */
}